.about{
    /* height: 100vh; */
    font-family: 'klein';
    border: 7px solid #e2dbd3;
    /* margin: 20px 0; */
    border-radius: 15px;
    padding: 0;
    background-image: url("../pics/body-background.jpeg");
    background-color: #e1e3dd;
    background-size: cover;
    position: relative;
}