.home{
  /* height: 100vh; */
  font-family: 'klein';
  border: 7px solid #e2dbd3;
  /* margin: 20px 0; */
  border-radius: 15px;
  /* padding: 0!important; */
  background-color: #51514f;
  position: relative;
}

.heading-section .heading{
  /* font-family: 'klein-italic'; */
  /* -webkit-text-stroke: 1.5px #252726;  */
  text-shadow: -2px 0 #252726, 0 2px #252726, 2px 0 #252726, 0 -2px #252726;
  font-size: 3.5em;
}

.heading-image-container{
  border: 3px solid #989898;
  border-radius: 5px;
  background-color: #252726;
  width: 45%!important;
}
.image-text{
  width: 45%!important;
}
.heading-image-container .heading-image{
  width: 100%;
  transform: scale(1) translateY(5px);
  animation: zoomInOut 6s infinite ease-in-out;
}
/* .heading-image-container .heading-image:hover{
  width: 100%;
  transform: scale(1.25) translateY(-20px);
  transition: transform .5s;
} */
.home .offsetPicture-1{
  position: absolute;
  border: 5px solid #2e2e2e;
  width: 40%;
  top: 45%;
  right: 5%;
}
.home .offsetPicture-2{
  position: absolute;
  border: 4px solid #2e2e2e;
  width: 20%;
  top: 45%;
  left: 5%;
}
@media (max-width: 850px){
  .heading-section .heading{
    /* font-family: 'klein-italic'; */
    /* -webkit-text-stroke: 1.5px #252726;  */
    text-shadow: -1.2px 0 #252726, 0 1.2px #252726, 1.2px 0 #252726, 0 -1.2px #252726;
    font-size: 1.25em;
  }
  .heading-image-container{
    width: 100%!important;
  }

  .image-text{
    width: 100%!important;
  }
  .image-text .image-header{
    padding: 25px 0;
    margin-bottom: 0;
    font-size: 15px;
  }
  .image-text .image-content{
    font-size: 10px;
    line-height: 0px;
  }
}











@keyframes zoomInOut{
  0%{
    transform: scale(1) translateY(5px);
  }
  50%{
    transform: scale(1.25) translateY(10px);
  }
  100%{
    transform: scale(1) translateY(5px);
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
@keyframes wiggle {
    0%{
        transform: none;
    }
      12.5% {
        transform: skewX(-1.4deg) skewY(-1.4deg)
      }
      25% {
        transform: skewX(1.4deg) skewY(1.4deg)
      }
      37.5% {
        transform: skewX(-1.2deg) skewY(-1.2deg)
      }
      50% {
        transform: none;
      }
      62.5% {
        transform: skewX(-1.4deg) skewY(-1.4deg)
      }
      75% {
        transform: skewX(1.4deg) skewY(1.4deg)
      }
      87.5% {
        transform: skewX(-1.2deg) skewY(-1.2deg)
      }
      100% {
        transform: none;
      }
}
@keyframes spin{
  from{
    transform: rotateY(0deg);
  }
  to{
    transform: rotateY(360deg);
  }
}