.heading{
  display:flex;
}
.home{
    /* height: 100vh; */
    font-family: 'klein';
    border: 7px solid #e2dbd3;
    /* margin: 20px 0; */
    border-radius: 15px;
    padding: 0;
    background-image: url("../pics/body-background.jpeg");
    background-color: #e1e3dd;
    background-size: cover;
    position: relative;
}
.home-nav{
    margin: 20px;
}
.header{
  padding-top: 55px;
  font-size: 4em;
  letter-spacing: 8px;
}
.picture{
    animation: rotation 6s infinite linear;
}
.picture .logo{
    object-fit: cover;
    object-position: 46% 58%;
    width: 215px!important;
    height: 150px;
    /* animation: rotation 6s infinite linear; */
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

@media (max-width: 1500px){
    .header{
        font-size: 3em;
    }
    .picture .logo{
        object-fit: cover;
        object-position: 46% 58%;
        width: 215px!important;
        height: 150px;
        /* animation: rotation 6s infinite linear; */
    }
}
@media (max-width: 850px){
  .heading{
    display: block!important;
  }
  .header{
      padding-top: 0;
      font-size: 1.8em;
  }
  .picture .logo{
      object-fit: cover;
      object-position: 46% 58%;
      width: 60px!important;
      height: 115px;
      /* animation: rotation 6s infinite linear; */
  }
  .home-nav{
    margin: 0;
}
}