.nav{
    background-color: #252726;
    border: 2px solid #c7bfbc;
    border-radius: 5px;;
}
.brand .brand-pic{
    object-fit: cover;
    object-position: 46% 58%;
    width: 150px!important;
    height: 115px;
    animation: rotation 6s infinite linear;
}
/* .nav-item:first-child{
    margin-left: 0;
} */
.nav{
    justify-content: center;
}
.nav-links{
    display: flex;
    margin: 20px 0;
    list-style: none;
}
.nav-links a{
    font-family:'klein-italic';
    text-decoration: none;
    color: #d0cfcd;
    letter-spacing: 3px;
    font-size: 1.5em;
}
.nav-item{
    margin: 0 40px;
}
.dropdown .dropdown-toggle::after{
    display: none;
}